*
!/.gitignore
!/.github
!/.github/**
!/.vercelignore
!/api
!/api/feedback.js
!/build
!/build/**
!/dates.js
!/license.md
!/not-found
!/not-found/main.html
!/not-found/main.svg
!/package.json
!/readme.md
!/script.js
!/scripts
!/scripts/*
!/style.css
!/vercel.json
!/sw.js
!/dependencies.css
