*
!/.gitignore
!/.github
!/.github/**
!/.vercelignore
!/api
!/api/*
!/build
!/build/**
!/license.md
!/not-found
!/not-found/main.html
!/not-found/main.svg
!/package.json
!/readme.md
!/script.js
!/scripts
!/scripts/*
!/style.css
!/vercel.json
!/sw.js
!/dependencies.css
!/icon.svg
!/subscribe.html
