*
!/api
!/api/*
!/vercel.json
!/package.json
!/license.md
!/readme.md
!/.vercelignore
!/.gitignore
!/build.bash
!/style.css
!/script.js
!/scripts
!/scripts/*
!/fake-spellchecker
!/fake-spellchecker/*
!/not-found
!/not-found/*
