@charset "utf-8";

@font-face
{
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/lora.ttf") format("truetype");
}

@font-face
{
	font-family: "Lora";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/lora-italic.ttf") format("truetype");
}

@font-face
{
	font-family: "Oxygen Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/oxygen-mono.ttf") format("truetype");
}

@font-face
{
	font-family: "Asap";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/asap-italic.woff2") format("woff2");
}

* { box-sizing: border-box; }

body
{
	--text-color: #741;
	--background-color: #FED;
	--highlight-color: #7412;
	font-family: "Lora", serif;
	background: var(--background-color);
	color: var(--text-color);
	margin: 2em auto;
	padding: 0 2em;
	width: 25em;
	min-width: calc(50% + 4em);
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: 1.75em;
	text-align: justify;
	position: relative;
	transition: 0.5s ease --background-color, 0.5s ease --text-color;
}

body[data-theme="cocoa"]
{
	--text-color: #FDA;
	--background-color: #531;
	--highlight-color: #FDA3;
}

body[data-theme="milk"]
{
	--text-color: #532;
	--background-color: #FDFAEE;
	--highlight-color: #5322;
}

body[data-theme="coffee"]
{
	--text-color: #DB8;
	--background-color: #310;
	--highlight-color: #DB83;
}

::selection
{
	background: var(--highlight-color);
}

html
{
	width: 100%;
	height: 100%;
}

p
{
	margin: 0.75em 0;
}

@media (max-width: 50em)
{
	body
	{
		text-align: left;
	}
}

::-webkit-scrollbar
{
	background: none;
	width: 0.25em;
	height: 0.25em;
}

::-webkit-scrollbar-track
{
	background: none;
}

::-webkit-scrollbar-track-piece
{
	background: none;
}

::-webkit-scrollbar-button
{
	display: none;
}

::-webkit-scrollbar-thumb
{
	background: var(--text-color);
	border-radius: 1em;
}

::-webkit-scrollbar-corner
{
	background: none;
}

hr
{
	border: none;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 12 2" stroke="%23741" fill="none" stroke-width="0.125"><path d="M 0 1 C 1 0 3 2 4 1 M 4.5 1.5 5 0.5 M 5.5 1.5 6 0.5 M 6.5 1 C 7.5 0 9.5 2 10.5 1" /></svg>');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	height: 1em;
}

a, button, select
{
	all: unset;
	cursor: pointer;
	text-decoration: underline;
}

option
{
	background: initial;
	color: initial;
}

a:focus, button:focus
{
	outline: 0.0625em solid var(--text-color);
}

blockquote
{
	padding: 0 0 0 1em;
	position: relative;
	margin: 0.75em 0;
}

blockquote::before
{
	content: "";
	width: 0.25em;
	margin: 0.5em 0 0.5em;
	background: var(--text-color);
	border-radius: 1em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

:not(pre) > code
{
	border-radius: 0.25em;
	padding: 0.25em;
	border: 0.0625em solid var(--text-color);
}

code, pre, .cm-comment
{
	font-family: "Oxygen Mono", monospace, sans-serif;
}

.cm-comment
{
	background: var(--highlight-color);
	padding: 0.25em 0;
}

pre, textarea, .CodeMirror-lines
{
	padding: 0.5em 0.75em;
	border-radius: 0.5em;
	border: 0.125em solid var(--text-color);
	overflow: auto;
	box-shadow: var(--highlight-color) 0 0 1em inset;
	text-align: left;
}

h1, h2, h3, h4, h5, h6, .cm-header
{
	font-family: "Asap", sans-serif;
	font-style: italic;
	font-weight: normal;
	margin: 0.75em 0;
	text-align: left;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1.0625em; }
h5, h6 { font-weight: bold; }

.cm-header-1 { font-size: 1.5em; }
.cm-header-2 { font-size: 1.25em; }
.cm-header-3 { font-size: 1.125em; }
.cm-header-4, .cm-header-5, .cm-header-6 { font-size: 1.0625em; }
.cm-header-3, .cm-header-4 { font-weight: bold; }

textarea
{
	text-align: justify;
	background: none;
	color: inherit;
	resize: none;
	width: 100%;
	height: 16em;
	font: unset;
	outline: none;
	transition: 0.125s ease box-shadow;
	display: block;
	line-height: 1;
	padding: 0.75em
}

textarea:not(:focus), .CodeMirror:not(.CodeMirror-focused) .CodeMirror-lines { box-shadow: none; }

.submit
{
	text-align: right;
}

header
{
	font-weight: bold;
}

.response
{
	margin-left: 2em;
}

main > footer
{
	font-style: italic;
}

.option
{
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

#options label[for]::before,
input[type="checkbox"],
input[type="radio"]
{
	content: "";
	width: 0.5em;
	height: 0.5em;
	border: 0.0625em solid var(--text-color);
	display: inline-block;
	margin: 0 0.5em 0 0;
	border-radius: 0.125em;
	appearance: none;
	-webkit-appearance: none;
	font: inherit;
	cursor: unset;
	outline: none;
}

.radio-group label { margin-left: 1em; }

#options .radio-group label::before,
input[type="radio"]
{ border-radius: 100%; }

:not(p).radio-group { display: inline-block; }

p.radio-group > label:first-child { margin-left: 0; }

#capitalization:checked ~ #options #capitalization-label::before,
#guidelines-none:checked ~ #options #guidelines-none-label::before,
#guidelines-3:checked ~ #options #guidelines-3-label::before,
#guidelines-4:checked ~ #options #guidelines-4-label::before,
#guidelines-5:checked ~ #options #guidelines-5-label::before,
#typesetting:checked ~ #options #typesetting-label::before,
#typesetting-pull:checked ~ #options #typesetting-pull-label::before,
#typesetting-hyphens:checked ~ #options #typesetting-hyphens-label::before,
input[type="radio"]:checked,
input[type="checkbox"]:checked
{
	background: radial-gradient(var(--text-color) 40%, #0000 40%);
}

#capitalization:focus ~ #options #capitalization-label,
#typesetting:focus ~ #options #typesetting-label,
#typesetting-pull:focus ~ #options #typesetting-pull-label,
#typesetting-hyphens:focus ~ #options #typesetting-hyphens-label,
#guidelines-none:focus ~ #options #guidelines-labels,
#guidelines-3:focus ~ #options #guidelines-labels,
#guidelines-4:focus ~ #options #guidelines-labels,
#guidelines-5:focus ~ #options #guidelines-labels,
:not(.radio-group) > label:focus-within,
.radio-group:focus-within
{
	outline: 0.0625em solid var(--text-color);
}

#typesetting:disabled ~ #options #typesetting-label::before,
#typesetting-pull:disabled ~ #options #typesetting-pull-label::before,
#typesetting-hyphens:disabled ~ #options #typesetting-hyphens-label::before
{
	background: none;
}

#typesetting:disabled ~ #options #typesetting-label,
#typesetting-pull:disabled ~ #options #typesetting-pull-label,
#typesetting-hyphens:disabled ~ #options #typesetting-hyphens-label,
.disabled
{
	opacity: 0.5;
	pointer-events: none;
}

#options
{
	right: 1em;
	top: 2.5em;
	position: absolute;
	border: 0.0625em solid var(--text-color);
	border-radius: 0.5em;
	padding: 0 1em;
	background: var(--background-color);
	max-width: calc(100% - 2em);
	opacity: 0;
	pointer-events: none;
	transform: translate(0, 1em);
	transition: 0.25s ease transform, 0.25s ease opacity;
	box-shadow: #3333 0 0 1em;
}

label { cursor: pointer; }

#options label { white-space: nowrap; }

#display-options
{
	text-align: right;
	cursor: pointer;
	outline: none;
	margin: 0 0 0 auto;
	width: max-content;
	text-decoration: underline;
}

#display-options:focus
{
	pointer-events: none;
}

#capitalization:not(:checked) ~ main,
#capitalization:not(:checked) ~ article > header,
#capitalization:not(:checked) ~ main > footer
{
	text-transform: lowercase;
}

#guidelines-3:checked ~ main { --guidelines: 3; }
#guidelines-4:checked ~ main { --guidelines: 4; }
#guidelines-5:checked ~ main { --guidelines: 5; }

#guidelines-3:checked ~ main p,
#guidelines-4:checked ~ main p,
#guidelines-5:checked ~ main p
{
	background: linear-gradient(var(--background-color), var(--background-color) 1em, #0000 1em, #0000 calc(100% - 4em), var(--background-color) calc(100% - 4em)), repeating-linear-gradient(var(--text-color) 0.0625em, var(--text-color) 0.125em, #0000 0.125em, #0000 calc(var(--guidelines) * 1.75em + 0.0625em));
}

:focus ~ #options,
#options:focus-within,
#options:hover
{
	display: block;
	opacity: unset;
	pointer-events: unset;
	transform: unset;
	transition: 0.25s ease transform, 0.125s ease opacity;
}

ul, ol, li { display: block; margin: 0.75em 0; }
ul, ol { padding: 0; margin: 0; }
li { margin: 0.5em 0; position: relative; }

blockquote > ul { margin-left: 0.75em; }
blockquote > ol { margin-left: 1.25em; }

li > ul { margin-left: 1em; }
li > ol { margin-left: 1.25em; }

ol { counter-reset: list; }

ul > li::before,
ol > li::before
{
	display: block;
	position: absolute;
	left: 0;
	transform: translate(-100%) translate(-0.5em);
}

ul > li::before
{
	content: "";
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 4 4"><circle r="1.5" fill="%23741" /></svg>');
	width: 0.5em;
	height: 0.5em;
	top: 0.65em;
}

ol > li::before
{
	counter-increment: list;
	content: counter(list, lower-roman) ") ";
}

@media print
{
	* { background: none !important; }
	
	body
	{
		margin: 2em;
		width: unset;
		text-align: justify;
		--text-color: #000 !important;
		--background-color: #0000 !important;
	}
	
	#options, form, ::-webkit-scrollbar, #list, #display-options
	{ display: none; }
	
	@media (max-width: 32em)
	{
		body { text-align: left; }
	}
	
	a { text-decoration: none; }
	
	a:not([href^="/"])::after
	{
		content: " (" attr(href) ")";
		word-break: break-word;
	}
	
	pre { white-space: pre-wrap; }
	
	:not(pre) > code
	{
		background: none;
	}
	
	ul > li::before
	{
		content: "";
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 4 4"><circle r="1.5" /></svg>');
	}
}

article, blockquote { break-inside: avoid; }

h1, h2, h3, h4, h5, h6 { break-after: avoid; }

 #typesetting:checked ~ main .p
{
	white-space: nowrap;
	text-align-last: justify;
	word-spacing: -0.2em;
}

#typesetting:checked ~ main .p::after
{
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
}

#typesetting:checked ~ main .break > .br::after
{
	content: "\A";
	white-space: pre;
}

#typesetting:checked ~ main .last-line
{ word-spacing: normal; }

#typesetting:checked ~ #typesetting-pull:checked ~ main .break::before
{
	content: "";
	margin-right: var(--pull-left);
	display: inline-block;
}

#typesetting:checked ~ #typesetting-pull:checked ~ main .break::after
{
	content: "";
	margin-left: var(--pull-right);
	display: inline-block;
}

#typesetting:checked ~ main .shy.break::before { content: "\2010" !important; }

.shy, .glue, .br
{
	display: contents;
}

body > footer
{
	text-align: center;
	font-size: 0.75em;
	content: "";
}

main
{
	padding: 0 2em;
	margin: 0 -2em;
	overflow: hidden;
}

.not-found svg
{
	width: 100%;
	max-height: 80vh;
}

.not-found
{
	text-align: center;
}

.CodeMirror-cursor
{
	border-left: 0.0625em solid currentcolor;
	width: 0;
}

.CodeMirror
{
	position: relative;
}

.CodeMirror-lines
{
	cursor: text;
	min-height: 1px;
	cursor: text;
	min-height: 16em;
	padding: 0.75em;
	line-height: 1;
	transition: 0.125s ease box-shadow;
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like
{
	all: unset;
	display: block;
	position: relative;
	font-variant-ligatures: contextual;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal;
	font: inherit;
	margin: 0;
}

.CodeMirror-linebackground
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.CodeMirror-cursor
{
	position: absolute;
	pointer-events: none;
}

div.CodeMirror-cursors
{
	visibility: hidden;
	position: relative;
}
div.CodeMirror-dragcursors,
.CodeMirror-focused div.CodeMirror-cursors
{
	visibility: visible;
}

.CodeMirror-selected { background: var(--highlight-color); }

.cm-tab-wrap-hack::after { content: ""; }

.CodeMirror-measure
{
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror-hscrollbar,
.CodeMirror-vscrollbar
{
	display: none !important;
}

.CodeMirror-scroll { outline: none; }

.cm-em { font-style: italic; }
.cm-strong { font-weight: bold; }
.cm-hr { margin-left: 50%; transform: translate(-50%); }
.cm-formatting-quote { font-weight: bold; margin-left: 2em; }

.CodeMirror-code { outline: none; }
