@import "https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=block";
@import "https://fonts.googleapis.com/css2?family=Kurale&display=block";
@import "https://fonts.googleapis.com/css2?family=Oxygen&display=block";
