/*
	table of contents
	===
	
	→ main layout and page
	→ themes
	→ scrollbar
	→ user fields
	→ blockquote
	→ pre, code, textarea
	→ headings
	→ checkboxes
	→ focus
	→ settings box
	→ settings: capitalization
	→ settings: guide rulers
	→ lists
	→ paper print
	→ settings: custom typesetting
	→ custom typesetting: optical alignment
	→ custom typesetting: spacing harmony
	→ miscelaneous compatibility fixes
	→ fieldsets
	→ story list page
*/

@import "dependencies.css";

/* → main layout and page */

* { box-sizing: border-box; }

::selection { background: var(--highlight-color); }
html[data-theme="cupcake"] ::selection { background: #AFDA; }

html
{
	font-size: 16px;
	min-height: 100vh;
}

body
{
	font-family: "Ibarra Real Nova", serif;
	font-size: 18px;
	background: var(--background-color);
	color: var(--text-color);
	margin: 2rem auto 4rem;
	padding: 0 2rem;
	max-width:  64rem;
	min-width: 32rem;
	min-width: min(32rem, 100%);
	width: calc(50% + 4rem);
	line-height: 1.75rem;
	text-align: justify;
	position: relative;
	transition: 0.5s ease --background-color, 0.5s ease --text-color;
	word-break: break-word;
}

main { margin: 0 0 8rem; }

@media (max-width: 450px)
{
	body { text-align: left; }
}

p { margin: 0.75rem 0; }

hr
{
	border: none;
	background: var(--text-color);
	mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 12 2" stroke="%23000" fill="none" stroke-width="0.125"><path d="M 0 1 C 1 0 3 2 4 1 M 4.5 1.5 5 0.5 M 5.5 1.5 6 0.5 M 6.5 1 C 7.5 0 9.5 2 10.5 1" /></svg>');
	mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 12 2" stroke="%23000" fill="none" stroke-width="0.125"><path d="M 0 1 C 1 0 3 2 4 1 M 4.5 1.5 5 0.5 M 5.5 1.5 6 0.5 M 6.5 1 C 7.5 0 9.5 2 10.5 1" /></svg>');
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	margin: 1rem 0;
	height: 1rem;
}

article.response { margin-left: 2rem; }

header { font-weight: bold; }

.submit { text-align: right; }

small { font-size: 0.75rem; }

.end
{
	font-weight: bold;
	text-align: center;
}

html[data-theme="cupcake"] body
{
	--background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 2 4" preserveAspectRatio="none"><path fill="%23BDF" d="M 5 5 5 -1 0 0 Q -1 1 0 2 Q 1 3 0 4" /></svg>');
	background:
		url("/pencil.svg") no-repeat calc(100% - 29vw + 20rem) 0 / 13rem auto,
		linear-gradient(#FBD, #FBD) no-repeat calc(9vw - 2rem) 0 / 1rem auto,
		linear-gradient(#FBD, #FBD) no-repeat calc(9vw - 4rem) 0 / 1rem auto,
		var(--background-image) no-repeat repeat calc(100% - 9vw + 4rem) 0 / 4rem 32rem,
		linear-gradient(#BDF, #BDF) no-repeat right 0 / calc(9vw - 3.25em) auto
		var(--background-color);
	transition: none;
}

/* → themes */

html[data-theme="caramel"]
{
	--text-color: #741;
	--background-color: #FED;
	--highlight-color: #7412;
}

html[data-theme="cocoa"]
{
	--text-color: #FDA;
	--background-color: #552E11;
	--highlight-color: #FDA3;
}

html[data-theme="milk"]
{
	--text-color: #8D5F49;
	--background-color: #FFF6F1;
	--highlight-color: #8D5F4922;
}

html[data-theme="coffee"]
{
	--text-color: #DAAB95;
	--background-color: #21120B;
	--highlight-color: #DAAB9522;
}

html[data-theme="cherry"]
{
	--text-color: #C82B61;
	--background-color: #FFE9F0;
	--highlight-color: #C82B6118;
}

html[data-theme="cinnamon"]
{
	--text-color: #FFE7EE;
	--background-color: #B03F63;
	--highlight-color: #FFE7EE33;
}

html[data-theme="cupcake"]
{
	--text-color: #333;
	--background-color: #FCFCFC;
}

/* → scrollbar */

::-webkit-scrollbar
{
	background: none;
	width: 0.25rem;
	height: 0.25rem;
}

::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-track-piece { display: none; }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-corner { background: none; }

::-webkit-scrollbar-thumb
{
	background: var(--text-color);
	border-radius: 1rem;
}

html { scrollbar-color: var(--text-color) #0000; }
* { scrollbar-width: thin; }

html[data-theme="cupcake"] { scrollbar-color: var(--text-color) #BDF; }
html[data-theme="cupcake"] body { scrollbar-color: var(--text-color) #0000; }
html[data-theme="cupcake"] body::-webkit-scrollbar { background: #BDF; }

/* → user fields */

a, button, select
{
	color: inherit;
	all: unset;
	cursor: pointer;
	text-decoration: underline;
}

optgroup { font-weight: bold; }
option { font-weight: normal; }

option, optgroup
{
	background: var(--background-color);
	color: var(--text-color);
}

.disabled { opacity: 0.5; }

.disabled, .disabled * { cursor: unset; }

/* → blockquote */

blockquote
{
	padding: 0 0 0 1rem;
	position: relative;
	margin: 0.75rem 0;
}

blockquote::before
{
	content: "";
	width: 0.25rem;
	margin: 0.5rem 0 0.5rem;
	background: var(--text-color);
	border-radius: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

/* → pre, code, textarea */

:not(pre) > code
{
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	border: 0.0625rem solid var(--text-color);
}

code, pre
{
	font-family: "Oxygen", sans-serif;
	text-transform: none;
	font-size: 14px;
}

pre, textarea
{
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	border: 0.125rem solid var(--text-color);
	overflow: auto;
	box-shadow: var(--highlight-color) 0 0 1rem inset;
	text-align: left;
	line-height: 1.5rem;
}

textarea
{
	background: none;
	color: inherit;
	resize: none;
	width: 100%;
	height: 16rem;
	font: unset;
	transition: 0.125s ease box-shadow;
	display: block;
	padding: 0.75rem;
}

textarea:not(:focus) { box-shadow: none; }

textarea:focus { outline: none; }

pre { tab-size: 2rem; }

html[data-theme="cupcake"] textarea:focus,
html[data-theme="cupcake"] pre { box-shadow: #3333 0 0 1rem inset; }


/* → headings */

h1, h2, h3, h4, h5, h6
{
	font-family: "Kurale", sans-serif;
	font-weight: normal;
	margin: 0.75em 0;
	line-height: 1.25em;
	text-align: left;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1.0625rem; }
h5, h6 { font-weight: bold; }

/* → checkboxes */

input[type="checkbox"]
{
	content: "";
	width: 0.5rem;
	height: 0.5rem;
	border: 0.0625rem solid var(--text-color);
	display: inline-block;
	margin: 0 0.5rem 0 0;
	border-radius: 0.125rem;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: unset;
}

input[type="checkbox"]:checked
{
	background: radial-gradient(var(--text-color) 40%, #0000 40%);
}

.disabled input[type="checkbox"]
{
	background: none;
}

/* → focus */

:focus { outline: 0.0625rem solid var(--text-color); outline-offset: 0.25rem; }

:not(:focus-visible) { outline: none !important; }
:not(:-moz-focusring) { outline: none !important; }

/* → settings box */

@keyframes settings
{
	from { opacity: 0; transform: translate(0, 1rem); }
}

@keyframes settings-cupcake
{
	from { transform: translate(0, -32rem); }
}

#settings
{
	right: 1rem;
	top: 2.5rem;
	position: absolute;
	border: 0.0625rem solid var(--text-color);
	border-radius: 0.5rem;
	padding: 0 1rem;
	background: var(--background-color);
	max-width: calc(100% - 2rem);
	transition: 0.25s ease transform, 0.25s ease opacity;
	box-shadow: #3333 0 0 1rem;
	animation: settings ease 0.25s;
	text-align: left;
	pointer-events: initial;
	z-index: 1;
}

label { cursor: pointer; }

#display-settings { float: right; }

#display-settings > summary
{
	display: block;
	cursor: pointer;
	text-decoration: underline;
	margin-left: 1rem;
	line-height: 2.5rem;
}

#display-settings > summary::-webkit-details-marker { display: none; }

#settings > fieldset > legend
{
	font-size: 1rem;
	font-weight: 550;
	text-align: center;
	width: 100%;
	margin: 0;
}

#settings > fieldset
{
	margin: 0.75rem 0;
	padding: 0;
}

#settings > fieldset::after
{
	content: "";
	display: block;
	height: 0.0625rem;
	background:
		0 0 / 0.5rem 100%
		space no-repeat
		linear-gradient(
			90deg,
			#0000 25%,
			var(--text-color) 25%,
			var(--text-color) 75%,
			#0000 75%
		);
}

html:not([data-theme="cupcake"]) #settings > fieldset:last-of-type > p:last-child::after
{
	margin: 0.75rem 0;
	content: "note: classic themes\A will be removed in\A April 2021.";
	display: block;
	white-space: pre;
}

body:not(.capitalization) #settings > fieldset:last-of-type > p:last-child::after
{
	text-transform: lowercase;
}

html[data-theme="cupcake"] #settings
{
	border-radius: 0.125rem;
	box-shadow: none;
	padding-left: 2rem;
	--mask:
		linear-gradient(#000, #000),
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 4 15"><circle r="1" id="c" /><use href="%23c" y="3" /><use href="%23c" y="6" /><use href="%23c" y="9" /><use href="%23c" y="12" /><path stroke-width="0.75" stroke="%23000" d="M 0 0 -3 1 M 0 3 -3 2 M 0 6 -3 6 M 0 9 -3 8 M 0 12 -3 13" /></svg>')
		no-repeat repeat 0 0 / 1.5rem auto;
	-webkit-mask: var(--mask);
	-webkit-mask-composite: source-out;
	mask: var(--mask);
	mask-composite: subtract;
	background:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -1.6666666666666666 4 15" stroke="%23333" stroke-width="0.3333333333333333"><circle r="1" id="c" /><use href="%23c" y="3" /><use href="%23c" y="6" /><use href="%23c" y="9" /><use href="%23c" y="12" /><path stroke-width="1.0833333333333333" stroke="%23333" d="M 0 0 -3 1 M 0 3 -3 2 M 0 6 -3 6 M 0 9 -3 8 M 0 12 -3 13" /></svg>')
		border-box no-repeat repeat 0 0.125rem / 1.5rem auto
		var(--background-color);
	animation: settings-cupcake ease-out 0.5s;
}

/* → settings: capitalization */

body:not(.capitalization) > main,
body:not(.capitalization) > main > footer,
body:not(.capitalization) > main ~ p,
body:not(.capitalization) #feedback > article > header,
body:not(.capitalization) #feedback .submit,
body:not(.capitalization) #feedback > summary
{
	text-transform: lowercase;
}

/* → settings: guide rulers */

body[data-guide-rulers="3"] { --guide-rulers: 3; }
body[data-guide-rulers="4"] { --guide-rulers: 4; }
body[data-guide-rulers="5"] { --guide-rulers: 5; }
body[data-guide-rulers="6"] { --guide-rulers: 6; }

body[data-guide-rulers="3"] > main p,
body[data-guide-rulers="4"] > main p,
body[data-guide-rulers="5"] > main p,
body[data-guide-rulers="6"] > main p
{
	background:
		repeating-linear-gradient(
			var(--text-color) -0.0625rem,
			var(--text-color) 0,
			#0000 0,
			#0000 calc(1.75rem * var(--guide-rulers) - 0.0625rem)
		);
	background-repeat: no-repeat;
	background-position: top 0.125rem center;
	background-size: 100% calc(100% - 1.75rem * 2);
}

/* → lists */

ul, ol, li { display: block; }
ul, ol { padding: 0; margin: 0; }
li { margin: 0.75rem 0; position: relative; }

blockquote > ul { margin-left: 0.75rem; }
blockquote > ol { margin-left: 1.25rem; }

li > ul { margin-left: 1rem; }
li > ol { margin-left: 1.25rem; }

ol { counter-reset: list; }

ul > li::before,
ol > li::before
{
	display: block;
	position: absolute;
	left: 0;
	transform: translate(-100%) translate(-0.5rem);
}

ul > li::before
{
	content: "";
	background: var(--text-color);
	mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 4 4"><circle r="1.5" fill="%23000" /></svg>');
	-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 4 4"><circle r="1.5" fill="%23000" /></svg>');
	width: 0.5rem;
	height: 0.5rem;
	top: 0.65rem;
}

ol > li::before
{
	counter-increment: list;
	content: counter(list, lower-roman) ") ";
}

/* → paper print */

@media print
{
	p { background: none !important; }
	
	body
	{
		margin: 0;
		padding: 0;
		width: initial;
		min-width: initial;
		text-align: justify;
		background: none !important;
	}
	
	html
	{
		--text-color: #000 !important;
		--background-color: #0000 !important;
	}
	
	#display-settings, main ~ p,
	#feedback > summary, #feedback > form
	{ display: none !important; }
	::-webkit-scrollbar { display: none; }
	
	a { text-decoration: none; }
	
	pre { white-space: pre-wrap; }
	
	:not(pre) > code { background: none; }
	
	main { margin-bottom: 0; }
	
	hr
	{
		mask: none;
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 12 2" stroke="%23000" fill="none" stroke-width="0.125"><path d="M 0 1 C 1 0 3 2 4 1 M 4.5 1.5 5 0.5 M 5.5 1.5 6 0.5 M 6.5 1 C 7.5 0 9.5 2 10.5 1" /></svg>');
		background-position: center;
		background-repeat: no-repeat;
	}
}

article, blockquote, hr { break-inside: avoid; }

.end, hr { break-before: avoid; }

@media not print
{
	/* → settings: custom typesetting */
	
	main .p
	{
		white-space: nowrap;
		text-align-last: justify;
		overflow: hidden;
		margin-left: -1rem;
		margin-right: -1rem;
		padding: 0 1rem;
	}
	
	body[data-guide-rulers] > main .p
	{
		background-size: calc(100% - 2rem) calc(100% - 1.75rem * 2);
	}
	
	main .p::after
	{
		content: "";
		display: inline-block;
		width: calc(1rem + var(--push));
		height: 0;
	}
	
	main .break > .br::after
	{
		content: "\A";
		content: "\A" / "";
		white-space: pre;
	}
	
	main .glue.break > .ws
	{
		display: inline-block;
		white-space: pre;
		width: 0;
	}
	
	main .shy.break::before
	{
		content: "-" !important;
		content: "-" / "" !important;
	}
	
	/* → custom typesetting: optical alignment */
	
	body.typesetting > main .break::before
	{
		content: "";
		margin-right: calc(1rem - var(--pull-left));
		display: inline-block;
	}
	
	body.typesetting > main .break::after
	{
		content: "";
		margin-left: calc(1rem - var(--pull-right));
		display: inline-block;
	}
	
	body.typesetting > main .p::before
	{
		content: "";
		margin-left: calc(1rem - var(--pull-before));
		display: inline-block;
	}
	
	body.typesetting > main .p
	{
		padding: 0;
	}
	
	/* → custom typesetting: spacing harmony */
	
	body.typesetting > main .box { letter-spacing: var(--spacing); }
	
	body.typesetting > main .shy { letter-spacing: 0; }
	
	main .spacing-offset { margin-right: calc(-1 * var(--spacing, 0)); }
}

/* → feedback section */

#feedback > summary
{
	display: block;
	cursor: pointer;
	width: max-content;
	width: fit-content;
}
#feedback > summary::-webkit-details-marker { display: none; }

#feedback:not([open]) > summary { text-decoration: underline; }
#feedback[open] > summary
{
	font-family: "Kurale", sans-serif;
	margin: 0.75em 0;
	font-size: 1.75rem;
	line-height: 1.25em;
}

/* → miscelaneous compatibility fixes */

details:not([open]) > :not(summary) { display: none; }

/* → fieldsets */

fieldset
{
	border: none;
	padding: 0 0 0 1rem;
	margin: 1rem 0;
}

legend { margin: 0 0 0 -1rem; padding: 0; }

/* → story list page */

#list article { margin: 4rem 0; }

#list body > div > a
{
	display: block;
	text-decoration: none;
}

#list h2
{
	font-weight: 600;
	font-family: inherit;
	font-size: 1em;
}

#list
{
	min-height: 100%;
	display: grid;
}

#list > body
{
	display: grid;
	grid-template-rows: 1fr auto;
	text-transform: lowercase;
}

#list h1 { text-align: center; }

#list body > footer
{
	display: grid;
	justify-items: center;
	grid-auto-flow: row;
}
