/*
	table of contents
	===
	
	→ main layout and page
	→ scrollbar
	→ user fields
	→ focus
	→ headings
	→ settings box
	→ settings: guide rulers
	→ paper print
	→ settings: custom typesetting
	→ custom typesetting: optical alignment
	→ custom typesetting: spacing harmony
	→ list page
	→ settings: hyphenation
*/

@import "https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700";
@import "https://fonts.googleapis.com/css2?family=Kurale";
@import "https://fonts.googleapis.com/css2?family=Oxygen";

/* → main layout and page */

* { box-sizing: border-box; }

::selection { background: var(--highlight-color); }

html
{
	font-size: 16px;
	min-height: 100vh;
	overflow: hidden auto;
	--text-color: #8D5F49;
	--background-color: #FFF6F1;
	--highlight-color: #8D5F4922;
	margin: 0 auto;
	max-width: 64rem;
	min-width: 32rem;
	min-width: min(32rem, 100%);
	width: calc(50% + 4rem);
}

body
{
	font-family: "Ibarra Real Nova", serif;
	font-size: 18px;
	background: #FFF6F1;
	color: #8D5F49;
	background: var(--background-color);
	color: var(--text-color);
	margin: 2rem 2rem 8em;
	line-height: 1.75rem;
	text-align: justify;
	position: relative;
	transition: 0.5s ease --background-color, 0.5s ease --text-color;
	word-break: break-word;
}

@media (max-width: 450px)
{
	body { text-align: left; }
}

p { margin: 0.75rem 0; }

hr
{
	background: var(--text-color);
	--mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -8 100 16" width="150" height="24" stroke="%238D5F49" fill="none" stroke-linecap="round"><path d="M -6 4 -2 -4 M 2 4 6 -4 M -42 0 C -34 -8 -18 8 -10 0 M 10 0 C 18 -8 34 8 42 0" /></svg>');
	-webkit-mask: var(--mask);
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask: var(--mask);
	mask-position: center;
	mask-repeat: no-repeat;
	border: none;
	margin: 1.5rem 0;
	height: 1.5rem;
	opacity: 0.75;
}

.submit { text-align: right; }

.end
{
	font-weight: bold;
	text-align: center;
}

/* → scrollbar */

::-webkit-scrollbar
{
	background: none;
	width: 0.25rem;
	height: 0.25rem;
}

::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-track-piece { display: none; }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-corner { background: none; }

::-webkit-scrollbar-thumb
{
	background: var(--text-color);
	border-radius: 1rem;
}

html { scrollbar-color: var(--text-color) #0000; }
* { scrollbar-width: thin; }

/* → user fields */

a, button
{
	color: inherit;
	all: unset;
	cursor: pointer;
	text-decoration: underline;
}

optgroup { font-weight: bold; }
option { font-weight: normal; }

option, optgroup
{
	background: var(--background-color);
	color: var(--text-color);
}

.disabled { opacity: 0.5; }

.disabled, .disabled * { cursor: initial; }

input[type="checkbox"]
{
	content: "";
	width: 0.5rem;
	height: 0.5rem;
	border: 0.0625rem solid var(--text-color);
	display: inline-block;
	margin: 0 0.5rem 0 0;
	border-radius: 0.125rem;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: initial;
}

input[type="checkbox"]:checked
{
	background: radial-gradient(var(--text-color) 40%, #0000 40%);
}

.disabled input[type="checkbox"]
{
	background: none;
}

/* → focus */

:focus { outline: 0.0625rem solid var(--text-color); outline-offset: 0.25rem; }

:not(:focus-visible) { outline: none !important; }
:not(:-moz-focusring) { outline: none !important; }

/* → headings */

h1, h2
{
	font-family: "Kurale", sans-serif;
	font-weight: normal;
	margin: 0.75em 0;
	line-height: 1.25em;
	text-align: left;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }

/* → settings box */

@keyframes settings
{
	from { transform: translate(0, 1rem); opacity: 0; }
}

details
{
	float: right;
	display: flex;
	clear: right;
}

summary { line-height: 2.5rem; }

summary + *
{
	transform: translate(0, 0.5rem);
	right: -1rem;
	position: absolute;
	border: 0.0625rem solid var(--text-color);
	border-radius: 0.5rem;
	padding: 0 1rem;
	background: var(--background-color);
	max-width: calc(100% - 2rem);
	box-shadow: #3333 0 0 1rem;
	text-align: left;
	pointer-events: initial;
}

#settings { z-index: 1; }

details[open] > summary + * { animation: settings ease 0.25s; }

#settings label
{
	cursor: pointer;
	display: flex;
	align-items: baseline;
}

#settings label > input { flex: 0 0 auto; }

summary
{
	display: block;
	cursor: pointer;
	text-decoration: underline;
}

/* → settings: guide rulers */

body[data-guide-rulers="3"] { --guide-rulers: 3; }
body[data-guide-rulers="4"] { --guide-rulers: 4; }
body[data-guide-rulers="5"] { --guide-rulers: 5; }
body[data-guide-rulers="6"] { --guide-rulers: 6; }

body[data-guide-rulers="3"] > p,
body[data-guide-rulers="4"] > p,
body[data-guide-rulers="5"] > p,
body[data-guide-rulers="6"] > p
{
	background:
		repeating-linear-gradient(
			var(--text-color) -0.0625rem,
			var(--text-color) 0,
			#0000 0,
			#0000 calc(1.75rem * var(--guide-rulers) - 0.0625rem)
		)
		no-repeat top 0.125rem center / 100% calc(100% - 1.75rem * 2);
}

/* → paper print */

@media print
{
	p { background: none !important; }
	
	body
	{
		margin: 0;
		padding: 0;
		width: initial;
		min-width: initial;
		text-align: justify;
		background: none !important;
	}
	
	html
	{
		--text-color: #000 !important;
		--background-color: #0000 !important;
	}
	
	#display-settings { display: none !important; }
	::-webkit-scrollbar { display: none; }
	
	a { text-decoration: none; }
}

hr { break-inside: avoid; }
.end, hr { break-before: avoid; }
hr { break-after: avoid; }

@media not print
{
	/* → settings: custom typesetting */
	
	body > .p
	{
		white-space: nowrap;
		text-align-last: justify;
	}
	
	body > .p::after
	{
		content: "";
		display: inline-block;
		width: var(--push);
		height: 0;
	}
	
	.p .break > .br::after
	{
		content: "\A";
		content: "\A" / "";
		white-space: pre;
	}
	
	.p .glue.break > .ws
	{
		display: inline-block;
		white-space: pre;
		width: 0;
	}
	
	.p .shy.break::before
	{
		content: "-" !important;
		content: "-" / "" !important;
	}
	
	/* → custom typesetting: optical alignment */
	
	.p .break::before
	{
		content: "";
		margin-right: calc(-1 * var(--pull-left));
		display: inline-block;
	}
	
	.p .break::after
	{
		content: "";
		margin-left: calc(-1 * var(--pull-right));
		display: inline-block;
	}
	
	.p::before
	{
		content: "";
		margin-left: calc(-1 * var(--pull-before));
		display: inline-block;
	}
	
	.p
	{
		padding: 0;
	}
	
	/* → custom typesetting: spacing harmony */
	
	.p .box { letter-spacing: var(--spacing); }
	
	.p .shy { letter-spacing: 0; }
	
	.p .spacing-offset { margin-right: calc(-1 * var(--spacing, 0)); }
}

/* → list page */

#list article { margin: 4rem 0; }

#list body > a
{
	display: block;
	text-decoration: none;
}

#list h2 { font-size: 1em; }

#list h1 { text-align: center; }

/* → settings: hyphenation */

body.hyphenation:not(.typesetting) > main p
{
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
